<div class="container-fluid sticky-top" id="__navBar" {{#if currentUser}}{{else}} style="background-color: rgba(0, 0, 0, 0);"
  {{/if}}>
  <div id="navbarHome" class="container pt-3">
    <div class="pb-3 d-flex justify-content-{{#if currentUser}}between{{else}}center{{/if}}" >
      <a class="navbar-brand text-warning align-self-center"  href="/"><img id="__logo" src="/images/logo-white.png" alt=""></a>
      {{#if currentUser}}
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item ">
                <a class="mx-3" href="/library/{{currentUser.profileID}}"><img src="/images/music.png" alt="profile picture"
                    style="height: 80px;"></a>
              </li>
              <li class="nav-item">
                <a class="mx-3" href="/pages"><img src="/images/book4.png" alt="profile picture"
                    style="height: 80px;"></a>
              </li>
              <li class="nav-item">
                <a class="mx-3" href="/posts/list"><img src="/images/comic.png" alt="posts" style="height: 80px;"></a>
              </li>
              <li class="nav-item">
                <a class="mx-3" href="/dashboard"><img src="/images/rubiks.png" alt="dashboard"
                    style="height: 80px;"></a>
              </li>
              <li class="nav-item">
                <a class="mx-3" href="/control"><img src="/images/sheep.png" alt="control Panel"
                    style="height: 80px;"></a>
              </li>
              <li class="nav-item">
                <a class="mx-3" href="/profile"><img src="{{#if userData}}{{userData.picture}} {{else}}{{picture}}{{/if}}" alt="profile picture"
                    style="height: 80px; border-radius: 30px;"></a>
              </li>
              <li class="nav-item">
                <form action="/logout" method="POST">
                  <button class="__emergency mx-3" type="submit"><img src="/images/emergency.png" alt="profile picture"
                      style="height: 80px;"></button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {{/if}}
    </div>
  </div>
</div>