{{#if profileUser}} <h3 class="m-2">Tu perfil{{/if}}</h3>
<div class="ytbCardP" style="width: 300px; background-color: {{backgroundColor}}; color: {{textColor}};">
    {{#if backgroundImg}}
    <img style="width: 300px;" class="card-img position-absolute" src="{{backgroundImg}}" alt="Card image">
    {{/if}}
    <div class="position-relative">
        <div class="d-flex flex-column text-center">
            {{#if titleOne}}
            <h3 class="card-title">{{titleOne}}</h3>
            {{else}}
            {{#if titleTwo}}
            <h3 class="card-title">{{titleTwo}}</h3>
            {{else}}
            <h3 class="card-title">Sin título</h3>
            {{/if}}
            {{/if}}
            {{#if imageOne}}
            <img class="mx-auto" style="width: 200px;" src="{{imageOne}}" alt="Card image">
            {{else}}
            {{#if imageTwo}}
            <img class="mx-auto" style="width: 200px;" src="{{imageTwo}}" alt="Card image">
            {{else}}
            <img class="mx-auto" style="width: 200px;"
                src="/images/unicorn.png"
                alt="Card image">
            {{/if}}
            {{/if}}
            {{#if subTitleOne}}
            <h4 class="">{{subTitleOne}}</h4>
            {{else}}
            {{#if subTitleTwo}}
            <h4 class="">{{subTitleTwo}}</h4>
            {{else}}
            <h4 class="">Una página divertida</h4>
            {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="text-center my-3"
        style="background-color: {{#if backgroundColor}}{{backgroundColor}}{{else}}violet{{/if}};">
        <a class="btn __buttonLogFormI px-5" href="/page/{{#if idProfile}}{{idProfile}}{{else}}{{id}}{{/if}}" role="button">Visitar</a>
    </div>
</div>