<div class="col justify-content-center py-3 ytbCard">
  <div class="card text-white bg-dark" style="width: 10rem;">
    <img class="card-img-top" src=" {{#if ytbID}}{{image}}{{else}}{{snippet.thumbnails.default.url}}{{/if}}"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{#if ytbID}} {{title}} {{else}}{{snippet.title}}{{/if}}</h5>
      <p class="card-text">{{#if ytbID}} {{tracks}} {{else}}{{contentDetails.itemCount}}{{/if}} Tracks</p>
      <div class="text-center">
        {{#if ytbID}}
        <a data-id="{{ytbID}}" data-play='true' class="btn btn-danger gPlaylist">Play</a>
        {{else}}
        <form action="/playlist/add" method="POST">
          <input type="hidden" name="ytbID" value="{{id}}" />
          <input type="hidden" name="image" value="{{snippet.thumbnails.default.url}}" />
          <input type="hidden" name="title" value="{{snippet.title}}" />
          <input type="hidden" name="tracks" value="{{contentDetails.itemCount}}" />
          <button type="submit" class="btn btn-danger">Add</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{!-- <button type="submit" data-id="{{id}}" data-image="{{snippet.thumbnails.default.url}}"
  data-title="{{snippet.title}}" data-tracks="{{contentDetails.itemCount}}"
  class="btn btn-danger gPlaylist">Add</button> --}}