<div class="col justify-content-center py-3 ytbCard ">
  <div class="card bg-dark ytbCardP" style="width:{{#if description}}16rem{{else}}10rem{{/if}};">
    <img class="card-img-top ytbCardP" src=" {{#if ytbID}}{{image}}{{else}}{{snippet.thumbnails.default.url}}{{/if}}"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{#if ytbID}} {{title}} {{else}}{{snippet.title}}{{/if}}</h5>
      <p class="card-text">{{#if ytbID}} {{tracks}} {{else}}{{contentDetails.itemCount}}{{/if}} Tracks</p>
      <div class="text-center">
        {{#if ytbID}}
        <a data-id="{{ytbID}}" data-play='true' data-accion={{#if description}}'video'{{else}}'playlist'{{/if}}
          class="btn btn-danger gPlaylist">Play</a>
        {{else}}
          <a class="btn btn-danger buttonAddP"
          data-profile="{{profile}}"
          data-ytbid="{{id}}"
          data-image="{{snippet.thumbnails.default.url}}"
          data-title="{{snippet.title}}"
          data-tracks="{{contentDetails.itemCount}}"
          >Add</a>         
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{!-- <button type="submit" data-id="{{id}}" data-image="{{snippet.thumbnails.default.url}}"
  data-title="{{snippet.title}}" data-tracks="{{contentDetails.itemCount}}"
  class="btn btn-danger gPlaylist">Add</button> --}}