{{!-- <div class="col-4 {{#if collapse}}collapse multi-collapse{{/if}}">
  <div class="m-1 border border-2 rounded-3 card" style="width: 18rem;">
    <img src={{image}} class="card-img-top" alt="...">

    <div class="card-body card__container overflow-hidden">
      <h5 class="card-title card__title overflow-hidden">{{title}}</h5>
      <p class="card-text card__description text-truncate overflow-hidden">{{description}}</p>
      <a href="#" class="btn btn-primary">Ver post</a>
    </div>
  </div>
</div> --}}
<div class="postCard d-flex flex-column ">
  <a href="/posts/{{_id}}" class="__postColor">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <img alt="Post image" id="__imgPost" src="{{userImg}}">
        <h5 class="px-3">{{userName}}</h5>
      </div>
    </div>
    <div class="card ">
      {{#if image}}
      <img alt="Post image" class="card-img-top" src="{{image}}">
      {{/if}}
      <div class="card-body">
        <h4 class="card-title __postColor"><b>{{titulo}}</b></h4>
        <blockquote class="blockquote mb-0">
          <p>{{description}}</p>
          <footer class="blockquote-footer mt-2"><cite title="Source Title">
              <p>
                {{#each tags as |tag|}}
                <span> #{{tag}}</span>
                {{/each}}
              </p>
            </cite></footer>
        </blockquote>
      </div>
    </div>
  </a>
</div>