<div class="container{{#if fluid}}-fluid{{/if}} text-center" style="background-color: {{backgroundColor}}; 
    {{#if bkgImgON}}background-image: url('{{backgroundImg}}');{{/if}}
    {{#if bkgImgCover}}background-repeat: no-repeat; background-size: cover;{{/if}}
    background-attachment: fixed;
    color: {{textColor}}">
    <div class="row">
        <div class="col">
            <h1 class="pt-5 mb-3">{{title}}</h1>

            {{#if imgON}}<img class="my-3" src="{{image}}" alt="header image" 
            width="{{imgWidth}}" height="{{imgHeight}}">{{/if}}

            <h3 class="pt-3 mb-5">{{description}}</h3>

            {{#if layout}}
        </div>
        <div class="col">
            {{/if}}

            {{#if videoON}}
            <div class="m-5">
                <div class="videoPlayer embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" width="640" height="360" src="{{video}}?autoplay=0&mute=0&loop=1"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

