<div class="{{#if fluid}}container-fluid text-center{{else}}container text-center{{/if}} text-center" style="background-color: {{backgroundColor}}; 
    {{#if bkgImgON}}background-image: url('{{backgroundImg}}');{{/if}}
    {{#if bkgImgCover}}background-repeat: no-repeat; background-size: cover;{{/if}}
    background-attachment: fixed;
    color: {{textColor}}">
    <a href="/follow/{{id}}">Seguir</a>
    <div class="row d-flex align-items-center">
        <div class="col">
            <h1 class="pt-5 mb-3">{{titleOne}}</h1>

            {{#if imgOneON}}<img class="my-3" src="{{imageOne}}" alt="header image" width="{{imgWidthOne}}"
                height="{{imgHeightOne}}">{{/if}}

            <h3 class="pt-3 my-3">{{subTitleOne}}</h3>
            <p class="pt-3 mb-5">{{textOne}}</p>

            {{#if col2}}
        </div>
        <div class="col">
            {{/if}}

            <h1 class="pt-5 mb-3">{{titleTwo}}</h1>

            {{#if imgTwoON}}<img class="my-3" src="{{imageTwo}}" alt="header image" width="{{imgWidthTwo}}"
                height="{{imgHeightTwo}}">{{/if}}

            {{#if videoON}}
            <div class="m-5">
                <div class="videoPlayer embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" width="640" height="360"
                        src="{{video}}?autoplay=0&mute=0&loop=1" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            {{/if}}
            <h3 class="pt-3 my-3">{{subTitleTwo}}</h3>
            <p class="pt-3 mb-5">{{textTwo}}</p>
        </div>
    </div>
    <div>
        <a href="">Comentarios</a>
        <div>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Escribe un comentario:">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>