<div class="container">
    <h1 class="my-5">Panel de control:</h1>
    <div class="row d-flex justify-content-around">
        <div class="card my-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Perfil</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <div>
                    <a href="/profile/edit/head" class="card-link">Editar cabezera</a>
                </div>
                <div>
                    <a href="/profile/create/body" class="card-link">Crear contenedor</a>
                </div>
                <div>
                    <a href="/profile/edit/body" class="card-link">Editar contenedores</a>
                </div>
            </div>
        </div>

        <div class="card my-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Páginas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <div>
                    <a href="/pages" class="card-link">Páginas</a>
                </div>
                <div>
                    <a href="/page/create" class="card-link">Crear página</a>
                </div>
                <div>
                    <a href="/page/edit" class="card-link">Editar páginas</a>
                </div>
            </div>
        </div>
        <div class="card my-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Posts</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card my-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Playlists</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <div>
                    <form>
                        <div class="form-group">
                            <label for="inputState" class="my-1">Elige página:</label>
                            <select id="selectPrf" class="form-control">
                                {{#each profilesU as |profil|}}
                                <option name="profile" value="{{_id}}">
                                    {{#if profileUser}} <p> Tu perfil. </p>
                                    {{else}}
                                    {{#if titleOne}}<p>{{titleOne}}</p>
                                    {{else}}
                                    {{#if titleOne}}<p>{{titleTwo}}</p>
                                    {{else}}<p>Sin título.</p>
                                    {{/if}}{{/if}}{{/if}}
                                </option>
                                {{/each}}
                            </select>
                            <a id="choosePrf" class="btn btn-danger mx-2 my-3 mx-auto">Seleccionar</a>
                        </div>
                    </form>
                </div>
                <div id="editPlay"> </div>

            </div>
        </div>
    </div>
</div>


<div class="container text-center">

</div>