<div class="container-fluid __containerPanel">
    {{!-- <div class="container text-center">
        <h1 class="pt-2">Panel de control:</h1>
    </div> --}}
    <div class="row d-flex justify-content-center">
        <div class="card __panelCard m-5">
            <div class="card-body">
                <h5 class="card-title">Perfil</h5>
                <h6 class="card-subtitle mb-2 text-muted">Ponte guapo</h6>
                <p class="card-text">Crea tu página de presentación, incluye colores, fotos, videos y todo lo que te
                    interese.</p>
                <div>
                    <a href="/profile/edit/head" class="card-link __panelLink">Editar cabezera</a>
                </div>
                <div>
                    <a href="/profile/create/body" class="card-link __panelLink">Crear contenedor</a>
                </div>
                <div>
                    <a href="/profile/edit/body" class="card-link __panelLink">Editar contenedores</a>
                </div>
            </div>
        </div>

        <div class="card m-5 __panelCard">
            <div class="card-body">
                <h5 class="card-title">Páginas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Presume</h6>
                <p class="card-text">Crea contenidos increibles sobre todo lo que te interesa y enseñaselos al mundo.
                </p>
                <div>
                    <a href="/pages" class="card-link __panelLink">Páginas</a>
                </div>
                <div>
                    <a href="/page/create" class="card-link __panelLink">Crear página</a>
                </div>
                <div>
                    <a href="/page/edit" class="card-link __panelLink">Editar páginas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="card my-5 __panelCard">
            <div class="card-body">
                <h5 class="card-title">Posts</h5>
                <h6 class="card-subtitle mb-2 text-muted">Desahógate</h6>
                <p class="card-text">Publica tus inquietudes o lo que quieras contarnos, a traves de textos, fotos o
                    videos.
                    En tus posts podras crear y editar.</p>
                <div>
                    <a href="/posts/list/user" class="card-link __panelLink">Tus posts</a>
                </div>
                <div>
                    <a href="/posts/create" class="card-link __panelLink">Crea un post</a>
                </div>
                <div>
                    <a href="/posts/list" class="card-link __panelLink">Lista de posts</a>
                </div>
            </div>
        </div>
        <div class="card my-5 __panelCard">
            <div class="card-body">
                <h5 class="card-title">Biblioteca</h5>
                <h6 class="card-subtitle mb-2 text-muted">Disfruta</h6>
                <p class="card-text">Añade videos y playlist desde Youtube.</p>
                <div>
                    <form>
                        <div class="form-group">
                            <label for="inputState" class="my-1">Elige página:</label>
                            <select id="selectPrf" class="form-control __imputColorI">
                                {{#each profilesU as |profil|}}
                                <option name="profile" value="{{_id}}">
                                    {{#if profileUser}} <p> Tu perfil. </p>
                                    {{else}}
                                    {{#if titleOne}}<p>{{titleOne}}</p>
                                    {{else}}
                                    {{#if titleOne}}<p>{{titleTwo}}</p>
                                    {{else}}<p>Sin título.</p>
                                    {{/if}}{{/if}}{{/if}}
                                </option>
                                {{/each}}
                            </select>
                            <a id="choosePrf" class="btn btn-danger mx-2 my-3 mx-auto __panelLinkB">Seleccionar</a>
                        </div>
                    </form>
                </div>
                <div id="editPlay"> </div>

            </div>
        </div>
    </div>
</div>


<div class="container text-center">

</div>