<!--<div class="container-fluid mt-5"> -->
<div class="container-fluid px-0 pb-5"
    style=" background-image: url('{{bkgImgBODY}}'); background-color: {{bkgBODY}}; color: {{txtColorBODY}}"></div>
<main class="row align-items-start  mx-3">
    {{!-- Category Section--}}

    <section class="col-2">
        <h3>Categorias</h3>
        <div class="list-group row">
             <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Naturaleza y aventura</a>
                  <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Arte</a>
           <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Tecnología</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Salud y bienestar</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Deportes y condición física</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Fotografiá</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Cocina y bebida</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Escritura</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button" >Idiomas</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Cultura</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Música</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Cine</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Creencias</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Club de lectura</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Mascotas</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Aficiones y manualidades</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Moda y belleza</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Vida social</a>
            <a href="#" class="list-group-item list-group-item-action rounded-pill mb-2 category__button">Carrera y negocios</a>
       </div>
       


    </section>
    {{!-- Lists Section--}}

    <section class="col-7">
        {{!-- Block section--}}
        <div class="border border-2 rounded-3">
            {{!-- Nav bar block--}}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Mis posts</a>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a id='mypostsButton' class="nav-link active" aria-current="page"
                                    data-bs-toggle="collapse" role="button" data-bs-target=".multi-collapse"
                                    aria-expanded="false" aria-controls="collapseExample" href="#">{{#if vermas}}Ver
                                    mas{{else}}Ver menos{{/if}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/posts/create">crear un post</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row align-items-center"> {{!-- List block--}}
                {{#each posts as |postData| }} {{!-- Item list--}}
                {{>post postData}}
                {{/each}}
            </div> {{!-- End list block--}}
        </div>
        <div class="border border-2 rounded-3">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Páginas favoritas</a>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a id='pagesButton' class="nav-link active" aria-current="page"
                                    data-bs-toggle="collapse" role="button" data-bs-target=".multi-collapse"
                                    aria-expanded="false" aria-controls="collapseExample" href="#">{{#if vermas}}Ver
                                    mas{{else}}Ver menos{{/if}}</a>
                            </li>
                            <li>

                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row align-items-center"> {{!-- pages List block--}}


                <div class="col-6 d-flex">
                    {{#each pagesFollow as |follow|}}
                    <div class="m-4" style="width: 300px; background-color: {{backgroundColor}}; color: {{textColor}};">
                        {{> pages}}
                    </div>
                    {{/each}}
                </div>
            </div> {{!-- End list block--}}
        </div>
    </section>
    <section class="col-3">
        <div class="border border-2 rounded-3"> {{!-- Container busca usuarios--}}
            <form id="busca-usuario">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">
                        <h2>Busqueda de usuarios</h2>
                    </label>
                    <div class="input-group">
                        <input name="inputUserName" id="inputUserName" type="text" class="form-control"
                            placeholder="Nombre de usuario" aria-label="Nombre de usuario"
                            aria-describedby="basic-addon2">
                        <button id="userSearchIdButton" class="btn btn-outline-secondary">Busca</button>
                    </div>
                </div>

            </form>
            <div id="busca-usuario-salida">

            </div>
        </div class="border border-2 rounded-3 friends__container">
        <section class="friends__header">
            <h2> Amigos</h2>
        </section>
        <section class="friends__list__container"> {{!-- List friends block--}}
            <ul class=" list-group friends_list">
                {{#each friendsSelected as |friendData| }} {{!-- Item list--}}


                <li class="list-group-item  friend__info"> {{!-- Friend Item list--}}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{friend.userName}}"
                            aria-label="{{friendData.friend.userName}}" disabled readonly>
                        <a class="btn btn-primary" style="background-color: #3c98e9;"
                            href="/page/{{friendData.profile.[0]._id}}">Perfil</a>
                        <a class="btn btn-primary" style="background-color: #3c98e9;"
                            href="/dashboard/deletefriend/{{friendData.id}}">Eliminar</a>


                    </div>
                </li>

                {{/each}}
            </ul>
        </section>
        <div>

        </div>
    </section>
</main>

</div>