<div class="container">
    <h1>Edita tu página:</h1>

    <div class="text-center my-4" id="editProfile">
        <div class="btn-group text-center" role="group" aria-label="Basic example">
            <button type="button" id="editHeadBtn" class="btn btn-secondary">Mostrar/ocultar {{#if editBody}}edita
                contenedor{{else}}cabecera{{/if}}</button>
            <button type="button" id="editBodyBtn" class="btn btn-secondary">Mostrar/ocultar contenedores</button>
        </div>
    </div>

</div>

<div class="container" id="editHead" style="display: block;">
    <h2 class="mt-5 mb-3 text-center">Edita{{#if editBody}} el contenedor:{{else}} la cabezera:{{/if}}</h2>

    {{#if editBody}}
    <form action="/profile/edit/body/{{id}}" method="POST">
        {{else}}
        <form action="/profile/edit/head" method="POST">
            {{/if}}


            <div class="form-group my-1">
            </div>

            <div class="form-group my-5">
                <label for="backgroundImg">Muestra una imagen de fondo...</label>
                <input type="text" name="backgroundImg" value="{{backgroundImg}}" class="form-control my-3"
                    placeholder="Pon una imagen de fondo">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="bkgImgCover" class="custom-control-input" {{#if
                        bkgImgCover}}checked{{/if}}>
                    <label class="custom-control-label mx-2" for="bkgImgCover">Selecciona para expandir la
                        imagen.</label>
                    <span class="mx-3">
                        <input type="checkbox" name="bkgImgON" class="custom-control-input" {{#if
                            bkgImgON}}checked{{/if}}>
                        <label class="custom-control-label mx-2" for="bkgImgON">Selecciona para que se muestre en tu
                            perfil.</label>
                    </span>
                </div>
            </div>

            <div class="form-group my-5">
                <div class="row">
                    <div class="col">
                        <label for="backgroundColor">o... un color de fondo:</label>
                        <input name="backgroundColor" value="{{backgroundColor}}" type="color"
                            class="form-control my-3">
                    </div>
                    <div class="col">
                        <label for="backgroundColor">Indica el color del texto</label>
                        <input name="textColor" value="{{textColor}}" type="color" class="form-control my-3">
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="image">Pon una imagen o tu logo!</label>
                    <input type="text" name="image" value="{{image}}" class="form-control my-3"
                        placeholder="name@example.com">
                    <div>
                        <label for="customRange3">Alto de la imagen:</label>
                        <input type="range" name="imgHeight" value="{{imgHeight}}" class="custom-range mx-4" min="0"
                            max="900" step="0.5" id="customRange3">
                    </div>
                    <div>
                        <label for="customRange3">Ancho de la imagen:</label>
                        <input type="range" name="imgWidth" value="{{imgWidth}}" class="custom-range mx-4" min="0"
                            max="900" step="0.5" id="customRange3">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="imgON" class="custom-control-input my-3" {{#if
                            imgON}}checked{{/if}}>
                        <label class="custom-control-label mx-2" for="imgON">Selecciona para que se muestre en tu
                            perfil.</label>
                    </div>
                </div>

                <div class="form-group my-5">
                    <label for="video">o incrusta un video</label>
                    <input type="text" name="video" value="{{video}}" class="form-control my-3"
                        placeholder="name@example.com">
                    <small id="emailHelp" class="form-text text-muted">Ejemplo:
                        https://www.youtube.com/embed/0zrqJo9kZ_Y</small><br>
                    <small id="emailHelp" class="form-text text-muted">Ejemplo:
                        https://www.youtube.com/embed/PNfOSYkv7KMY</small>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="videoON" class="custom-control-input my-3" {{#if
                            videoON}}checked{{/if}}>
                        <label class="custom-control-label mx-2" for="bkgImgON">Selecciona para que se muestre en tu
                            perfil.</label>
                    </div>
                </div>

                <div class="form-group mt-5">
                    <label for="titleH">Pon título</label>
                    <input type="text" name="titleH" value="{{titleH}}" class="form-control my-3"
                        placeholder="name@example.com">
                </div>

                <div class="form-group mb-5">
                    <label for="description">Y una descripción</label>
                    <input type="text" name="description" value="{{description}}" class="form-control my-3"
                        placeholder="name@example.com">
                </div>

                <div class="form-group mt-5 ">
                    <div class="row">
                        <div class="col">
                            <label class="mx-2" for="bkgBODY">Selecciona un color para el cuerpo:</label>
                            <input name="bkgBODY" value="{{bkgBODY}}" type="color" class="form-control my-3">
                        </div>

                        <div class="col">
                            <label for="txtColorBODY">Y un color para el texto del cuerpo:</label>
                            <input name="txtColorBODY" value="{{txtColorBODY}}" type="color" class="form-control my-3">
                        </div>
                    </div>
                </div>

                <div class="custom-control custom-checkbox my-3 text-center">
                    <input type="checkbox" name="col2" class="custom-control-input" {{#if col2}}checked{{/if}}>
                    <label class="custom-control-label mx-2" for="col2">Selecciona para tener dos
                        columnas.</label>
                    <span class="mx-3">
                        <input type="checkbox" name="fluid" class="custom-control-input" {{#if fluid}}checked{{/if}}>
                        <label class="custom-control-label mx-2" for="fluid">Selecciona para expandir la
                            cabecera.</label>
                    </span>
                </div>

                <div class="text-center my-5">
                    <button type="submit" class="btn btn-primary my-1">Guardar</button>
                </div>
        </form>
</div>




<div class="container" id="editBody" style="display: block;">
    {{#if editBody}}
    {{else}}<h2 class="mt-5 mb-3 text-center">Contenedores:</h2>
    <h3>Selecciona un contenedor para editarlo:</h3>{{/if}}
    {{#each body as |container| }}
    {{!-- <div class="container px-0" style="background-color: {{bkgBODY}}; color: {{txtColorBODY}}"> --}}
        <div>
            {{!-- <button type="button" class="btn btn-dark">{{#if title}}{{title}}{{else}}Div{{/if}}</button> --}}
            <div
                style="width: 30px; height: 50px; background-color: {{#if backgroundColor}}{{backgroundColor}}{{else}}blueviolet{{/if}};">
                <a href="/profile/edit/body/{{id}}" class="btn btn-danger cardContainer">{{#if
                    titleH}}{{titleH}}{{else}}Container{{/if}}</a>
                {{!-- <a data-idbody="{{id}}" class="btn btn-danger cardContainer">{{#if
                    title}}{{title}}{{else}}Div{{/if}}</a> --}}
                {{titleH}}
                {{id}}
            </div>
        </div>
        {{!--
    </div> --}}
    {{/each}}

    <h2 class="mt-5 mb-3 text-center">Crea un contenedor:</h2>
    <form action="/profile/create/body" method="POST">

        <div class="form-group my-1">
        </div>

        <div class="form-group my-5">
            <label for="backgroundImg">Muestra una imagen de fondo...</label>
            <input type="text" id="backgroundImg" name="backgroundImg" value="{{body.backgroundImg}}"
                class="form-control my-3" placeholder="Pon una imagen de fondo">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="bkgImgCover" class="custom-control-input" {{#if
                    head.bkgImgCover}}checked{{/if}}>
                <label class="custom-control-label mx-2" for="bkgImgCover">Selecciona para expandir la
                    imagen.</label>
                <span class="mx-3">
                    <input type="checkbox" name="bkgImgON" class="custom-control-input" {{#if
                        head.bkgImgON}}checked{{/if}}>
                    <label class="custom-control-label mx-2" for="bkgImgON">Selecciona para que se muestre en tu
                        perfil.</label>
                </span>
            </div>
        </div>

        <div class="form-group my-5">
            <div class="row">
                <div class="col">
                    <label for="backgroundColor">o... un color de fondo:</label>
                    <input name="backgroundColor" value="{{profile.head.backgroundColor}}" type="color"
                        class="form-control my-3">
                </div>
                <div class="col">
                    <label for="textColor">Indica el color del texto</label>
                    <input name="textColor" value="{{profile.head.textColor}}" type="color" class="form-control my-3">
                </div>
            </div>

            <div class="form-group my-5">
                <label for="image">Pon una imagen o tu logo!</label>
                <input type="text" name="image" value="{{profile.head.image}}" class="form-control my-3"
                    placeholder="name@example.com">
                <div>
                    <label for="imgHeight">Alto de la imagen:</label>
                    <input type="range" name="imgHeight" value="{{profile.head.imgHeight}}" class="custom-range mx-4"
                        min="0" max="900" step="0.5">
                </div>
                <div>
                    <label for="imgWidth">Ancho de la imagen:</label>
                    <input type="range" name="imgWidth" value="{{profile.head.imgWidth}}" class="custom-range mx-4"
                        min="0" max="900" step="0.5">
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="imgON" class="custom-control-input my-3" {{#if
                        profile.head.imgON}}checked{{/if}}>
                    <label class="custom-control-label mx-2" for="imgON">Selecciona para que se muestre en tu
                        perfil.</label>
                </div>
            </div>

            <div class="form-group my-5">
                <label for="video">o incrusta un video</label>
                <input type="text" name="video" value="{{profile.head.video}}" class="form-control my-3"
                    placeholder="name@example.com">
                <small id="emailHelp" class="form-text text-muted">Ejemplo:
                    https://www.youtube.com/embed/0zrqJo9kZ_Y</small>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="videoON" class="custom-control-input my-3" {{#if
                        profile.head.videoON}}checked{{/if}}>
                    <label class="custom-control-label mx-2" for="videoON">Selecciona para que se muestre en tu
                        perfil.</label>
                </div>
            </div>

            <div class="form-group mt-5">
                <label for="titleH">Pon título</label>
                <input type="text" name="titleH" value="{{profile.head.titleH}}" class="form-control my-3"
                    placeholder="name@example.com">
            </div>

            <div class="form-group mb-5">
                <label for="description">Y una descripción</label>
                <input type="text" name="description" value="{{profile.head.description}}" class="form-control my-3"
                    placeholder="name@example.com">
            </div>

            <div class="form-group mt-5 ">
                <div class="row">
                    <div class="col">
                        <label class="mx-2" for="bkgBODY">Selecciona un color para el cuerpo:</label>
                        <input name="bkgBODY" value="{{profile.head.bkgBODY}}" type="color" class="form-control my-3">
                    </div>

                    <div class="col">
                        <label for="txtColorBODY">Y un color para el texto del cuerpo:</label>
                        <input name="txtColorBODY" value="{{profile.head.txtColorBODY}}" type="color"
                            class="form-control my-3">
                    </div>
                </div>
            </div>

            <div class="custom-control custom-checkbox my-3 text-center">
                <input type="checkbox" name="layout" class="custom-control-input" {{#if
                    profile.head.layout}}checked{{/if}}>
                <label class="custom-control-label mx-2" for="layout">Selecciona para tener dos columnas.</label>
                <span class="mx-3">
                    <input type="checkbox" name="fluid" class="custom-control-input" {{#if fluid}}checked{{/if}}>
                    <label class="custom-control-label mx-2" for="fluid">Selecciona para expandir la
                        cabecera.</label>
                </span>
            </div>

            <div class="text-center my-5">
                <button type="submit" class="btn btn-primary my-1">Guardar</button>
            </div>
    </form>
</div>
</div>