<div class="container-fluid px-0 pb-5"
    style="font-family: {{font}}; background-image: url('{{bkgImgBODY}}'); background-color: {{bkgBODY}}; color: {{txtColorBODY}}">
    {{> profile}}
    <div class=" container my-4" >
        <div>
            <ul class="nav justify-content-center __menuUser">
                <li class="nav-item  ">
                    <a class="active btn-outline mx-3" style="color: {{txtColorBODY}}" aria-current="page" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="btn-outline mx-3" style="color: {{txtColorBODY}}" href="/library/{{id}}">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="btn-outline mx-3" style="color: {{txtColorBODY}}" href="/pages">Páginas</a>
                </li>
                <li class="nav-item">
                    <a class="btn-outline mx-3" style="color: {{txtColorBODY}}" href="/posts/create">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="btn-outline mx-3" style="color: {{txtColorBODY}}" href="/control">Panel</a>
                </li>
            </ul>
        </div>
    </div>

    {{#each body as |container| }}
    <div class="px-0" style="font-family: {{font}}; margin-bottom: {{margin}}px; background-color: {{bkgBODY}}; color: {{txtColorBODY}}">
        {{> profile}}
        <div id="{{id}}" class="__commets"></div>
        {{!-- <a class="__like btn btn-outline " data-containerId="${body}" data-commentId="${_id}" data-action="like"
            style="color: {{textColor}};">Me gusta</a>
        <a class="__like btn btn-outline " data-containerId="${body}" data-commentId="${_id}" data-action="dislike"
            style="color: {{textColor}};">No gusta</a>
        <a class="__like btn btn-outline" data-containerId="${body}" data-commentId="${_id}" data-action="reply"
            style="color: {{textColor}};">Responder</a> --}}
    </div>
    {{/each}}

</div>