<div class="container-fluid px-0 pb-5"
    style=" background-image: url('{{bkgImgBODY}}'); background-color: {{bkgBODY}}; color: {{txtColorBODY}}">
    {{> profile}}
    <div class=" container my-4">
        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item  ">
                    <a class="btn active text-dark btn-outline" aria-current="page" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline" href="/profile/library">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-dark btn-outline" href="/pages">Páginas</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-dark btn-outline" href="/posts/create">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="btn text-dark btn-outline" href="/control">Panel</a>
                </li>
            </ul>
        </div>
    </div>

    {{#each body as |container| }}
    <div class="px-0" style="margin-bottom: {{margin}}px; background-color: {{bkgBODY}}; color: {{txtColorBODY}}">
        {{> profile}}
        <div id="{{id}}" class="__commets"></div>
        {{!-- <a class="__like btn btn-outline " data-containerId="${body}" data-commentId="${_id}" data-action="like"
            style="color: {{textColor}};">Me gusta</a>
        <a class="__like btn btn-outline " data-containerId="${body}" data-commentId="${_id}" data-action="dislike"
            style="color: {{textColor}};">No gusta</a>
        <a class="__like btn btn-outline" data-containerId="${body}" data-commentId="${_id}" data-action="reply"
            style="color: {{textColor}};">Responder</a> --}}
    </div>
    {{/each}}

</div>