<div id="__logForm">
    <div class="text-center form-signin-container">
        <main class="form-signin">
            <form action="/register" method="POST">
                <div class="position-absolute top-50 start-50 translate-middle text-light">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                    <label for="inputUserName" class="visually-hidden">User Name</label>
                    <input type="text" id="userName" value="{{user.userName}}"
                        class="form-control __buttonLogFormI {{#if errors.userName}}is-invalid{{/if}}" placeholder="User name"
                        name="userName" required="" autofocus="">
                    {{#if errors.userName}}
                    <div class="invalid-feedback">
                        {{errors.userName}}
                    </div>
                    {{/if}}
                    <label for="inputEmail" class="visually-hidden">Email address</label>
                    <input type="email" id="email" value="{{user.email}}"
                        class="form-control __buttonLogFormI {{#if errors.email}}is-invalid{{/if}}"
                        placeholder="Email address" name="email" required="" autofocus="">
                    {{#if errors.email}}
                    <div class="invalid-feedback">
                        {{errors.email}}
                    </div>
                    {{/if}}
                    <label for="inputPassword" class="visually-hidden ">Password</label>
                    <input type="password" id="password"
                        class="form-control __buttonLogFormI {{#if errors.password}}is-invalid{{/if}}"
                        placeholder="Password" name="password" required="">
                    {{#if errors.password}}
                    <div class="invalid-feedback">
                        {{errors.password}}
                    </div>
                    {{/if}}

                    <button class="w-100 btn btn-lg btn-primary __buttonLogFormD" type="submit">Sign
                        in</button>
                    <div>
                        <a class="w-100 btn btn-lg btn-primary mt-3 __buttonLogFormD" href="/auth/google">Continuar con
                            Youtube</a>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
{{> footer}}