<div class="container">
    <h1>Post</h1>
    <section>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <div>
            {{#each tags as |tag|}}
            <p>{{tag}}</p>
            {{/each}}
        </div>
    </section>
 
    {{#if userEdit}}
    <h1>{{_id}}</h1>
    <a href="/posts/edit/{{_id}}">Edit</a>
    <a href="/posts/delete/{{_id}}">Delete</a>
    {{/if}}


    {{#if deleteModal}}
    <div class="container">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <form action="/posts/delete/{{_id}}" method="POST"><button type="submit"
                        class="btn btn-primary">Yes</button>
                </form>
                <a href="/posts/{{_id}}" type="submit" class="btn btn-danger">No</a>
            </div>
        </div>
    </div>
    {{/if}}
</div>