<div class="container">
    {{!-- <section>
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <div>
            {{#each tags as |tag|}}
            <p>{{tag}}</p>
            {{/each}}
        </div>
    </section> --}}
    <div class="row justify-content-center">
        {{>post}}
    </div>
    <div class="row text-center">
        {{#if userEdit}}
        <div class="__color">
            <a class="px-3" href="/posts/edit/{{_id}}">Edit</a>
            <a class="px-3" href="/posts/delete/{{_id}}">Delete</a>
        </div>
        {{/if}}
    </div>
</div>






{{#if deleteModal}}
<div class="container">
    <div class="modal-content">
        <div class="modal-body">
            <p>Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
            <form action="/posts/delete/{{_id}}" method="POST"><button type="submit"
                    class="btn btn-primary">Yes</button>
            </form>
            <a href="/posts/{{_id}}" type="submit" class="btn btn-danger">No</a>
        </div>
    </div>
</div>
{{/if}}
</div>